@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* COLOR */
  --color-black: #000000;
  --color-blue-base: #0A3D62;
  --color-blue-new: #E3E7EA;
  --color-blue-10: #CED8E0;
  --color-blue-20: #ADBECB;
  --color-blue-30: #849EB0;
  --color-blue-40: #5C7E96;
  --color-blue-50: #335D7C;
  --color-blue-60: #083352;
  --color-blue-70: #072941;
  --color-blue-80: #051F31;
  --color-blue-90: #031421;
  --color-blue-100: #020C14;

  --color-cyan-base: #4DD0E1;
  --color-cyan-10: #DBF6F9;
  --color-cyan-20: #C4EFF5;
  --color-cyan-30: #A6E7F0;
  --color-cyan-40: #88E0EB;
  --color-cyan-50: #6BD8E6;
  --color-cyan-60: #40ADBB;
  --color-cyan-70: #338B96;
  --color-cyan-80: #1A454B;
  --color-cyan-100: #0F2A2D;

  --color-yellow-base: #C6B82A;
  --color-yellow-10: #F4F1D4;
  --color-yellow-20: #ECE7B8;
  --color-yellow-30: #E2DB94;
  --color-yellow-40: #D9D071;
  --color-yellow-50: #CFC44E;
  --color-yellow-60: #A59923;
  --color-yellow-70: #847B1C;
  --color-yellow-80: #635C15;
  --color-yellow-90: #423D0E;
  --color-yellow-100: #282508;

  --color-neutral-base: #DDDCDC;
  --color-neutral-10: #F8F8F8;
  --color-neutral-20: #F4F3F3;
  --color-neutral-30: #EEEDED;
  --color-neutral-40: #E8E8E8;
  --color-neutral-50: #E3E2E2;
  --color-neutral-60: #B8B7B7;
  --color-neutral-70: #939393;
  --color-neutral-80: #6F6E6E;
  --color-neutral-90: #4A4949;
  --color-neutral-100: #2C2C2C;

  /* FONT */
  --text-h1: 60px;
  --text-h2: 48px;
  --text-h3: 36px;
  --text-h4: 30px;
  --text-h5: 24px;
  --text-h6: 20px;
  --text-h7: 16px;
  --text-h8: 14px;
  --text-h9: 12px;

  --text-b1: 60px;
  --text-b2: 48px;
  --text-b3: 36px;
  --text-b4: 30px;
  --text-b5: 24px;
  --text-b6: 20px;
  --text-b7: 16px;
  --text-b8: 14px;
  --text-b9: 12px;
  --text-b10: 10px;

  --text-sh1: 60px;
  --text-sh2: 48px;
  --text-sh3: 36px;
  --text-sh4: 30px;
  --text-sh5: 24px;
  --text-sh6: 20px;
  --text-sh7: 16px;
  --text-sh8: 14px;
  --text-sh9: 12px;
  --text-sh10: 10px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nunito: var(--font-nunito-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

